<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.AccountPriceList81Mapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.AccountPriceList81" >
    <id column="YEAR_MONTH" property="yearMonth" jdbcType="DATE" />
    <id column="ITEM_CLASS" property="itemClass" jdbcType="VARCHAR" />
    <id column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    <id column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <id column="ITEM_SPEC" property="itemSpec" jdbcType="VARCHAR" />
    <id column="UNITS" property="units" jdbcType="VARCHAR" />
    <id column="ORDERED_BY" property="orderedBy" jdbcType="VARCHAR" />
    <id column="PERFORMED_BY" property="performedBy" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="DECIMAL" />
    <result column="CHARGES" property="charges" jdbcType="DECIMAL" />
    <result column="COSTS" property="costs" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    YEAR_MONTH, ITEM_CLASS, ITEM_CODE, ITEM_NAME, ITEM_SPEC, UNITS, ORDERED_BY, PERFORMED_BY, 
    ACCOUNT, CHARGES, COSTS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.comm.AccountPriceList81Key" >
    select 
    <include refid="Base_Column_List" />
    from COMM.ACCOUNT_PRICE_LIST_81
    where YEAR_MONTH = #{yearMonth,jdbcType=DATE}
      and ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
      and ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR}
      and UNITS = #{units,jdbcType=VARCHAR}
      and ORDERED_BY = #{orderedBy,jdbcType=VARCHAR}
      and PERFORMED_BY = #{performedBy,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.comm.AccountPriceList81Key" >
    delete from COMM.ACCOUNT_PRICE_LIST_81
    where YEAR_MONTH = #{yearMonth,jdbcType=DATE}
      and ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
      and ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR}
      and UNITS = #{units,jdbcType=VARCHAR}
      and ORDERED_BY = #{orderedBy,jdbcType=VARCHAR}
      and PERFORMED_BY = #{performedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.AccountPriceList81" >
    insert into COMM.ACCOUNT_PRICE_LIST_81 (YEAR_MONTH, ITEM_CLASS, ITEM_CODE, 
      ITEM_NAME, ITEM_SPEC, UNITS, 
      ORDERED_BY, PERFORMED_BY, ACCOUNT, 
      CHARGES, COSTS)
    values (#{yearMonth,jdbcType=DATE}, #{itemClass,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemSpec,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, 
      #{orderedBy,jdbcType=VARCHAR}, #{performedBy,jdbcType=VARCHAR}, #{account,jdbcType=DECIMAL}, 
      #{charges,jdbcType=DECIMAL}, #{costs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.AccountPriceList81" >
    insert into COMM.ACCOUNT_PRICE_LIST_81
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yearMonth != null" >
        YEAR_MONTH,
      </if>
      <if test="itemClass != null" >
        ITEM_CLASS,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemSpec != null" >
        ITEM_SPEC,
      </if>
      <if test="units != null" >
        UNITS,
      </if>
      <if test="orderedBy != null" >
        ORDERED_BY,
      </if>
      <if test="performedBy != null" >
        PERFORMED_BY,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="charges != null" >
        CHARGES,
      </if>
      <if test="costs != null" >
        COSTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yearMonth != null" >
        #{yearMonth,jdbcType=DATE},
      </if>
      <if test="itemClass != null" >
        #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null" >
        #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="orderedBy != null" >
        #{orderedBy,jdbcType=VARCHAR},
      </if>
      <if test="performedBy != null" >
        #{performedBy,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=DECIMAL},
      </if>
      <if test="charges != null" >
        #{charges,jdbcType=DECIMAL},
      </if>
      <if test="costs != null" >
        #{costs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.AccountPriceList81" >
    update COMM.ACCOUNT_PRICE_LIST_81
    <set >
      <if test="account != null" >
        ACCOUNT = #{account,jdbcType=DECIMAL},
      </if>
      <if test="charges != null" >
        CHARGES = #{charges,jdbcType=DECIMAL},
      </if>
      <if test="costs != null" >
        COSTS = #{costs,jdbcType=DECIMAL},
      </if>
    </set>
    where YEAR_MONTH = #{yearMonth,jdbcType=DATE}
      and ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
      and ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR}
      and UNITS = #{units,jdbcType=VARCHAR}
      and ORDERED_BY = #{orderedBy,jdbcType=VARCHAR}
      and PERFORMED_BY = #{performedBy,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.AccountPriceList81" >
    update COMM.ACCOUNT_PRICE_LIST_81
    set ACCOUNT = #{account,jdbcType=DECIMAL},
      CHARGES = #{charges,jdbcType=DECIMAL},
      COSTS = #{costs,jdbcType=DECIMAL}
    where YEAR_MONTH = #{yearMonth,jdbcType=DATE}
      and ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
      and ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR}
      and UNITS = #{units,jdbcType=VARCHAR}
      and ORDERED_BY = #{orderedBy,jdbcType=VARCHAR}
      and PERFORMED_BY = #{performedBy,jdbcType=VARCHAR}
  </update>
</mapper>