<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.AllowLoginMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.AllowLogin" >
    <id column="USER_IN_DB" property="userInDb" jdbcType="VARCHAR" />
    <result column="MACHINE" property="machine" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_IN_DB, MACHINE, IP_ADDRESS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.ALLOW_LOGIN
    where USER_IN_DB = #{userInDb,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.ALLOW_LOGIN
    where USER_IN_DB = #{userInDb,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.AllowLogin" >
    insert into COMM.ALLOW_LOGIN (USER_IN_DB, MACHINE, IP_ADDRESS
      )
    values (#{userInDb,jdbcType=VARCHAR}, #{machine,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.AllowLogin" >
    insert into COMM.ALLOW_LOGIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userInDb != null" >
        USER_IN_DB,
      </if>
      <if test="machine != null" >
        MACHINE,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userInDb != null" >
        #{userInDb,jdbcType=VARCHAR},
      </if>
      <if test="machine != null" >
        #{machine,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.AllowLogin" >
    update COMM.ALLOW_LOGIN
    <set >
      <if test="machine != null" >
        MACHINE = #{machine,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_IN_DB = #{userInDb,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.AllowLogin" >
    update COMM.ALLOW_LOGIN
    set MACHINE = #{machine,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR}
    where USER_IN_DB = #{userInDb,jdbcType=VARCHAR}
  </update>
</mapper>