<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.BindingPrescMasterMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.outpdoct.BindingPrescMaster" >
    <id column="PRESC_ID" property="prescId" jdbcType="DECIMAL" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="TOPIC" property="topic" jdbcType="VARCHAR" />
    <result column="PRESC_TYPE" property="prescType" jdbcType="DECIMAL" />
    <result column="USAGE" property="usage" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE_TIME" property="createDateTime" jdbcType="DATE" />
    <result column="LAST_MODIFY_DATE_TIME" property="lastModifyDateTime" jdbcType="DATE" />
    <result column="PERMISSION" property="permission" jdbcType="VARCHAR" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRESC_ID, SERIAL_NO, TOPIC, PRESC_TYPE, USAGE, DEPT_CODE, CREATOR_ID, CREATE_DATE_TIME, 
    LAST_MODIFY_DATE_TIME, PERMISSION, INPUT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from OUTPDOCT.BINDING_PRESC_MASTER
    where PRESC_ID = #{prescId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from OUTPDOCT.BINDING_PRESC_MASTER
    where PRESC_ID = #{prescId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.outpdoct.BindingPrescMaster" >
    insert into OUTPDOCT.BINDING_PRESC_MASTER (PRESC_ID, SERIAL_NO, TOPIC, 
      PRESC_TYPE, USAGE, DEPT_CODE, 
      CREATOR_ID, CREATE_DATE_TIME, LAST_MODIFY_DATE_TIME, 
      PERMISSION, INPUT_CODE)
    values (#{prescId,jdbcType=DECIMAL}, #{serialNo,jdbcType=DECIMAL}, #{topic,jdbcType=VARCHAR}, 
      #{prescType,jdbcType=DECIMAL}, #{usage,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{createDateTime,jdbcType=DATE}, #{lastModifyDateTime,jdbcType=DATE}, 
      #{permission,jdbcType=VARCHAR}, #{inputCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.outpdoct.BindingPrescMaster" >
    insert into OUTPDOCT.BINDING_PRESC_MASTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prescId != null" >
        PRESC_ID,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="topic != null" >
        TOPIC,
      </if>
      <if test="prescType != null" >
        PRESC_TYPE,
      </if>
      <if test="usage != null" >
        USAGE,
      </if>
      <if test="deptCode != null" >
        DEPT_CODE,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME,
      </if>
      <if test="lastModifyDateTime != null" >
        LAST_MODIFY_DATE_TIME,
      </if>
      <if test="permission != null" >
        PERMISSION,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prescId != null" >
        #{prescId,jdbcType=DECIMAL},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="prescType != null" >
        #{prescType,jdbcType=DECIMAL},
      </if>
      <if test="usage != null" >
        #{usage,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=DATE},
      </if>
      <if test="lastModifyDateTime != null" >
        #{lastModifyDateTime,jdbcType=DATE},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.outpdoct.BindingPrescMaster" >
    update OUTPDOCT.BINDING_PRESC_MASTER
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="topic != null" >
        TOPIC = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="prescType != null" >
        PRESC_TYPE = #{prescType,jdbcType=DECIMAL},
      </if>
      <if test="usage != null" >
        USAGE = #{usage,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME = #{createDateTime,jdbcType=DATE},
      </if>
      <if test="lastModifyDateTime != null" >
        LAST_MODIFY_DATE_TIME = #{lastModifyDateTime,jdbcType=DATE},
      </if>
      <if test="permission != null" >
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
    </set>
    where PRESC_ID = #{prescId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.outpdoct.BindingPrescMaster" >
    update OUTPDOCT.BINDING_PRESC_MASTER
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      TOPIC = #{topic,jdbcType=VARCHAR},
      PRESC_TYPE = #{prescType,jdbcType=DECIMAL},
      USAGE = #{usage,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATE_DATE_TIME = #{createDateTime,jdbcType=DATE},
      LAST_MODIFY_DATE_TIME = #{lastModifyDateTime,jdbcType=DATE},
      PERMISSION = #{permission,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR}
    where PRESC_ID = #{prescId,jdbcType=DECIMAL}
  </update>
</mapper>