<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.BloodTypeDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.BloodTypeDict" >
    <id column="BLOOD_TYPE_NAME" property="bloodTypeName" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="BLOOD_TYPE_CODE" property="bloodTypeCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BLOOD_TYPE_NAME, SERIAL_NO, BLOOD_TYPE_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.BLOOD_TYPE_DICT
    where BLOOD_TYPE_NAME = #{bloodTypeName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.BLOOD_TYPE_DICT
    where BLOOD_TYPE_NAME = #{bloodTypeName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.BloodTypeDict" >
    insert into COMM.BLOOD_TYPE_DICT (BLOOD_TYPE_NAME, SERIAL_NO, BLOOD_TYPE_CODE
      )
    values (#{bloodTypeName,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{bloodTypeCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.BloodTypeDict" >
    insert into COMM.BLOOD_TYPE_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bloodTypeName != null" >
        BLOOD_TYPE_NAME,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="bloodTypeCode != null" >
        BLOOD_TYPE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bloodTypeName != null" >
        #{bloodTypeName,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="bloodTypeCode != null" >
        #{bloodTypeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.BloodTypeDict" >
    update COMM.BLOOD_TYPE_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="bloodTypeCode != null" >
        BLOOD_TYPE_CODE = #{bloodTypeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where BLOOD_TYPE_NAME = #{bloodTypeName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.BloodTypeDict" >
    update COMM.BLOOD_TYPE_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      BLOOD_TYPE_CODE = #{bloodTypeCode,jdbcType=VARCHAR}
    where BLOOD_TYPE_NAME = #{bloodTypeName,jdbcType=VARCHAR}
  </update>
</mapper>