<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.DiagnosisMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.medrec.Diagnosis" >
    <id column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <id column="VISIT_ID" property="visitId" jdbcType="DECIMAL" />
    <id column="DIAGNOSIS_TYPE" property="diagnosisType" jdbcType="VARCHAR" />
    <id column="DIAGNOSIS_NO" property="diagnosisNo" jdbcType="DECIMAL" />
    <result column="DIAGNOSIS_DESC" property="diagnosisDesc" jdbcType="VARCHAR" />
    <result column="DIAGNOSIS_DATE" property="diagnosisDate" jdbcType="DATE" />
    <result column="TREAT_DAYS" property="treatDays" jdbcType="DECIMAL" />
    <result column="TREAT_RESULT" property="treatResult" jdbcType="VARCHAR" />
    <result column="OPER_TREAT_INDICATOR" property="operTreatIndicator" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    PATIENT_ID, VISIT_ID, DIAGNOSIS_TYPE, DIAGNOSIS_NO, DIAGNOSIS_DESC, DIAGNOSIS_DATE, 
    TREAT_DAYS, TREAT_RESULT, OPER_TREAT_INDICATOR
  </sql>
  <select id="selectBykeyDiag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from MEDREC.DIAGNOSIS
    where PATIENT_ID = #{0}
    and VISIT_ID = #{1}  and diagnosis_type ='1' and diagnosis_no='1'
  </select>
  <select id="selectByPatientId" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.medrec.DiagnosisKey" >
    select
    <include refid="Base_Column_List" />
    from MEDREC.DIAGNOSIS
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    and VISIT_ID = #{visitId,jdbcType=DECIMAL}
    and diagnosis_type ='1'
  </select>
  <select id="selectByPatientIdAll" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.medrec.DiagnosisKey" >
    select
    <include refid="Base_Column_List" />
    from MEDREC.DIAGNOSIS
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    and VISIT_ID = #{visitId,jdbcType=DECIMAL}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.medrec.DiagnosisKey" >
    select 
    <include refid="Base_Column_List" />
    from MEDREC.DIAGNOSIS
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.medrec.DiagnosisKey" >
    delete from MEDREC.DIAGNOSIS
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.medrec.Diagnosis" >
    insert into MEDREC.DIAGNOSIS (PATIENT_ID, VISIT_ID, DIAGNOSIS_TYPE, 
      DIAGNOSIS_NO, DIAGNOSIS_DESC, DIAGNOSIS_DATE, 
      TREAT_DAYS, TREAT_RESULT, OPER_TREAT_INDICATOR
      )
    values (#{patientId,jdbcType=VARCHAR}, #{visitId,jdbcType=DECIMAL}, #{diagnosisType,jdbcType=VARCHAR}, 
      #{diagnosisNo,jdbcType=DECIMAL}, #{diagnosisDesc,jdbcType=VARCHAR}, #{diagnosisDate,jdbcType=DATE}, 
      #{treatDays,jdbcType=DECIMAL}, #{treatResult,jdbcType=VARCHAR}, #{operTreatIndicator,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.medrec.Diagnosis" >
    insert into MEDREC.DIAGNOSIS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="visitId != null" >
        VISIT_ID,
      </if>
      <if test="diagnosisType != null" >
        DIAGNOSIS_TYPE,
      </if>
      <if test="diagnosisNo != null" >
        DIAGNOSIS_NO,
      </if>
      <if test="diagnosisDesc != null" >
        DIAGNOSIS_DESC,
      </if>
      <if test="diagnosisDate != null" >
        DIAGNOSIS_DATE,
      </if>
      <if test="treatDays != null" >
        TREAT_DAYS,
      </if>
      <if test="treatResult != null" >
        TREAT_RESULT,
      </if>
      <if test="operTreatIndicator != null" >
        OPER_TREAT_INDICATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null" >
        #{visitId,jdbcType=DECIMAL},
      </if>
      <if test="diagnosisType != null" >
        #{diagnosisType,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisNo != null" >
        #{diagnosisNo,jdbcType=DECIMAL},
      </if>
      <if test="diagnosisDesc != null" >
        #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDate != null" >
        #{diagnosisDate,jdbcType=DATE},
      </if>
      <if test="treatDays != null" >
        #{treatDays,jdbcType=DECIMAL},
      </if>
      <if test="treatResult != null" >
        #{treatResult,jdbcType=VARCHAR},
      </if>
      <if test="operTreatIndicator != null" >
        #{operTreatIndicator,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.medrec.Diagnosis" >
    update MEDREC.DIAGNOSIS
    <set >
      <if test="diagnosisDesc != null" >
        DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDate != null" >
        DIAGNOSIS_DATE = #{diagnosisDate,jdbcType=DATE},
      </if>
      <if test="treatDays != null" >
        TREAT_DAYS = #{treatDays,jdbcType=DECIMAL},
      </if>
      <if test="treatResult != null" >
        TREAT_RESULT = #{treatResult,jdbcType=VARCHAR},
      </if>
      <if test="operTreatIndicator != null" >
        OPER_TREAT_INDICATOR = #{operTreatIndicator,jdbcType=DECIMAL},
      </if>
    </set>
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.medrec.Diagnosis" >
    update MEDREC.DIAGNOSIS
    set DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
      DIAGNOSIS_DATE = #{diagnosisDate,jdbcType=DATE},
      TREAT_DAYS = #{treatDays,jdbcType=DECIMAL},
      TREAT_RESULT = #{treatResult,jdbcType=VARCHAR},
      OPER_TREAT_INDICATOR = #{operTreatIndicator,jdbcType=DECIMAL}
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=DECIMAL}
  </update>
</mapper>