<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.HospitalDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.HospitalDict" >
    <id column="HOSPITAL_CODE" property="hospitalCode" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_CLASS" property="hospitalClass" jdbcType="VARCHAR" />
    <result column="CONTACT_MAN" property="contactMan" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="MAILING_ADDRESS" property="mailingAddress" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
    <result column="PARENT_UNIT" property="parentUnit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    HOSPITAL_CODE, SERIAL_NO, HOSPITAL_NAME, HOSPITAL_CLASS, CONTACT_MAN, CONTACT_PHONE, 
    MAILING_ADDRESS, ZIP_CODE, INPUT_CODE, PARENT_UNIT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.HOSPITAL_DICT
    where HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.HOSPITAL_DICT
    where HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.HospitalDict" >
    insert into COMM.HOSPITAL_DICT (HOSPITAL_CODE, SERIAL_NO, HOSPITAL_NAME, 
      HOSPITAL_CLASS, CONTACT_MAN, CONTACT_PHONE, 
      MAILING_ADDRESS, ZIP_CODE, INPUT_CODE, 
      PARENT_UNIT)
    values (#{hospitalCode,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{hospitalName,jdbcType=VARCHAR}, 
      #{hospitalClass,jdbcType=VARCHAR}, #{contactMan,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{mailingAddress,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{inputCode,jdbcType=VARCHAR}, 
      #{parentUnit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.HospitalDict" >
    insert into COMM.HOSPITAL_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalCode != null" >
        HOSPITAL_CODE,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="hospitalName != null" >
        HOSPITAL_NAME,
      </if>
      <if test="hospitalClass != null" >
        HOSPITAL_CLASS,
      </if>
      <if test="contactMan != null" >
        CONTACT_MAN,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
      <if test="mailingAddress != null" >
        MAILING_ADDRESS,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
      <if test="parentUnit != null" >
        PARENT_UNIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalCode != null" >
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalClass != null" >
        #{hospitalClass,jdbcType=VARCHAR},
      </if>
      <if test="contactMan != null" >
        #{contactMan,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null" >
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="parentUnit != null" >
        #{parentUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.HospitalDict" >
    update COMM.HOSPITAL_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="hospitalName != null" >
        HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalClass != null" >
        HOSPITAL_CLASS = #{hospitalClass,jdbcType=VARCHAR},
      </if>
      <if test="contactMan != null" >
        CONTACT_MAN = #{contactMan,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null" >
        MAILING_ADDRESS = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="parentUnit != null" >
        PARENT_UNIT = #{parentUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.HospitalDict" >
    update COMM.HOSPITAL_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
      HOSPITAL_CLASS = #{hospitalClass,jdbcType=VARCHAR},
      CONTACT_MAN = #{contactMan,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      MAILING_ADDRESS = #{mailingAddress,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      PARENT_UNIT = #{parentUnit,jdbcType=VARCHAR}
    where HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR}
  </update>
</mapper>