<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.InpPaymentsMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.inpbill.InpPaymentsMoney" >
    <id column="RCPT_NO" property="rcptNo" jdbcType="VARCHAR" />
    <id column="MONEY_TYPE" property="moneyType" jdbcType="VARCHAR" />
    <result column="PAYMENT_NO" property="paymentNo" jdbcType="DECIMAL" />
    <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="REFUNDED_AMOUNT" property="refundedAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    RCPT_NO, MONEY_TYPE, PAYMENT_NO, PAYMENT_AMOUNT, REFUNDED_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoneyKey" >
    select 
    <include refid="Base_Column_List" />
    from INPBILL.INP_PAYMENTS_MONEY
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
      and MONEY_TYPE = #{moneyType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoneyKey" >
    delete from INPBILL.INP_PAYMENTS_MONEY
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
      and MONEY_TYPE = #{moneyType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoney" >
    insert into INPBILL.INP_PAYMENTS_MONEY (RCPT_NO, MONEY_TYPE, PAYMENT_NO, 
      PAYMENT_AMOUNT, REFUNDED_AMOUNT)
    values (#{rcptNo,jdbcType=VARCHAR}, #{moneyType,jdbcType=VARCHAR}, #{paymentNo,jdbcType=DECIMAL}, 
      #{paymentAmount,jdbcType=DECIMAL}, #{refundedAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoney" >
    insert into INPBILL.INP_PAYMENTS_MONEY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcptNo != null" >
        RCPT_NO,
      </if>
      <if test="moneyType != null" >
        MONEY_TYPE,
      </if>
      <if test="paymentNo != null" >
        PAYMENT_NO,
      </if>
      <if test="paymentAmount != null" >
        PAYMENT_AMOUNT,
      </if>
      <if test="refundedAmount != null" >
        REFUNDED_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcptNo != null" >
        #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="moneyType != null" >
        #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null" >
        #{paymentNo,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmount != null" >
        #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundedAmount != null" >
        #{refundedAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoney" >
    update INPBILL.INP_PAYMENTS_MONEY
    <set >
      <if test="paymentNo != null" >
        PAYMENT_NO = #{paymentNo,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmount != null" >
        PAYMENT_AMOUNT = #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundedAmount != null" >
        REFUNDED_AMOUNT = #{refundedAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
      and MONEY_TYPE = #{moneyType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.inpbill.InpPaymentsMoney" >
    update INPBILL.INP_PAYMENTS_MONEY
    set PAYMENT_NO = #{paymentNo,jdbcType=DECIMAL},
      PAYMENT_AMOUNT = #{paymentAmount,jdbcType=DECIMAL},
      REFUNDED_AMOUNT = #{refundedAmount,jdbcType=DECIMAL}
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
      and MONEY_TYPE = #{moneyType,jdbcType=VARCHAR}
  </update>
</mapper>