<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.LabResultTempMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.lab.LabResultTemp" >
    <id column="WORKING_ID" property="workingId" jdbcType="VARCHAR" />
    <id column="ITEM_NO" property="itemNo" jdbcType="DECIMAL" />
    <id column="RESULT_DATE_TIME" property="resultDateTime" jdbcType="DATE" />
    <result column="PRINT_ORDER" property="printOrder" jdbcType="DECIMAL" />
    <result column="REPORT_ITEM_NAME" property="reportItemName" jdbcType="VARCHAR" />
    <result column="REPORT_ITEM_CODE" property="reportItemCode" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="UNITS" property="units" jdbcType="VARCHAR" />
    <result column="ABNORMAL_INDICATOR" property="abnormalIndicator" jdbcType="VARCHAR" />
    <result column="INSTRUMENT_ID" property="instrumentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WORKING_ID, ITEM_NO, RESULT_DATE_TIME, PRINT_ORDER, REPORT_ITEM_NAME, REPORT_ITEM_CODE, 
    RESULT, UNITS, ABNORMAL_INDICATOR, INSTRUMENT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.lab.LabResultTempKey" >
    select 
    <include refid="Base_Column_List" />
    from LAB.LAB_RESULT_TEMP
    where WORKING_ID = #{workingId,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
      and RESULT_DATE_TIME = #{resultDateTime,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.lab.LabResultTempKey" >
    delete from LAB.LAB_RESULT_TEMP
    where WORKING_ID = #{workingId,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
      and RESULT_DATE_TIME = #{resultDateTime,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.lab.LabResultTemp" >
    insert into LAB.LAB_RESULT_TEMP (WORKING_ID, ITEM_NO, RESULT_DATE_TIME, 
      PRINT_ORDER, REPORT_ITEM_NAME, REPORT_ITEM_CODE, 
      RESULT, UNITS, ABNORMAL_INDICATOR, 
      INSTRUMENT_ID)
    values (#{workingId,jdbcType=VARCHAR}, #{itemNo,jdbcType=DECIMAL}, #{resultDateTime,jdbcType=DATE}, 
      #{printOrder,jdbcType=DECIMAL}, #{reportItemName,jdbcType=VARCHAR}, #{reportItemCode,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, #{abnormalIndicator,jdbcType=VARCHAR}, 
      #{instrumentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.lab.LabResultTemp" >
    insert into LAB.LAB_RESULT_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workingId != null" >
        WORKING_ID,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="resultDateTime != null" >
        RESULT_DATE_TIME,
      </if>
      <if test="printOrder != null" >
        PRINT_ORDER,
      </if>
      <if test="reportItemName != null" >
        REPORT_ITEM_NAME,
      </if>
      <if test="reportItemCode != null" >
        REPORT_ITEM_CODE,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="units != null" >
        UNITS,
      </if>
      <if test="abnormalIndicator != null" >
        ABNORMAL_INDICATOR,
      </if>
      <if test="instrumentId != null" >
        INSTRUMENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workingId != null" >
        #{workingId,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=DECIMAL},
      </if>
      <if test="resultDateTime != null" >
        #{resultDateTime,jdbcType=DATE},
      </if>
      <if test="printOrder != null" >
        #{printOrder,jdbcType=DECIMAL},
      </if>
      <if test="reportItemName != null" >
        #{reportItemName,jdbcType=VARCHAR},
      </if>
      <if test="reportItemCode != null" >
        #{reportItemCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="abnormalIndicator != null" >
        #{abnormalIndicator,jdbcType=VARCHAR},
      </if>
      <if test="instrumentId != null" >
        #{instrumentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.lab.LabResultTemp" >
    update LAB.LAB_RESULT_TEMP
    <set >
      <if test="printOrder != null" >
        PRINT_ORDER = #{printOrder,jdbcType=DECIMAL},
      </if>
      <if test="reportItemName != null" >
        REPORT_ITEM_NAME = #{reportItemName,jdbcType=VARCHAR},
      </if>
      <if test="reportItemCode != null" >
        REPORT_ITEM_CODE = #{reportItemCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        UNITS = #{units,jdbcType=VARCHAR},
      </if>
      <if test="abnormalIndicator != null" >
        ABNORMAL_INDICATOR = #{abnormalIndicator,jdbcType=VARCHAR},
      </if>
      <if test="instrumentId != null" >
        INSTRUMENT_ID = #{instrumentId,jdbcType=VARCHAR},
      </if>
    </set>
    where WORKING_ID = #{workingId,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
      and RESULT_DATE_TIME = #{resultDateTime,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.lab.LabResultTemp" >
    update LAB.LAB_RESULT_TEMP
    set PRINT_ORDER = #{printOrder,jdbcType=DECIMAL},
      REPORT_ITEM_NAME = #{reportItemName,jdbcType=VARCHAR},
      REPORT_ITEM_CODE = #{reportItemCode,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      UNITS = #{units,jdbcType=VARCHAR},
      ABNORMAL_INDICATOR = #{abnormalIndicator,jdbcType=VARCHAR},
      INSTRUMENT_ID = #{instrumentId,jdbcType=VARCHAR}
    where WORKING_ID = #{workingId,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
      and RESULT_DATE_TIME = #{resultDateTime,jdbcType=DATE}
  </update>
</mapper>