<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.MdcRouteMatchInfoViewMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.MdcRouteMatchInfoView" >
    <result column="SUSER_ID" property="suserId" jdbcType="VARCHAR" />
    <result column="SUSER_NAME" property="suserName" jdbcType="VARCHAR" />
    <result column="SUSER_SPELL" property="suserSpell" jdbcType="VARCHAR" />
    <result column="SUSER_SPELL2" property="suserSpell2" jdbcType="VARCHAR" />
    <result column="SUSER_CODE" property="suserCode" jdbcType="VARCHAR" />
    <result column="SSYS_NAME" property="ssysName" jdbcType="VARCHAR" />
    <result column="SMATCH_USER" property="smatchUser" jdbcType="VARCHAR" />
    <result column="SMATCH_TIME" property="smatchTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.MdcRouteMatchInfoView" >
    insert into COMM.MDC_ROUTE_MATCH_INFO_VIEW (SUSER_ID, SUSER_NAME, SUSER_SPELL, 
      SUSER_SPELL2, SUSER_CODE, SSYS_NAME, 
      SMATCH_USER, SMATCH_TIME)
    values (#{suserId,jdbcType=VARCHAR}, #{suserName,jdbcType=VARCHAR}, #{suserSpell,jdbcType=VARCHAR}, 
      #{suserSpell2,jdbcType=VARCHAR}, #{suserCode,jdbcType=VARCHAR}, #{ssysName,jdbcType=VARCHAR}, 
      #{smatchUser,jdbcType=VARCHAR}, #{smatchTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.MdcRouteMatchInfoView" >
    insert into COMM.MDC_ROUTE_MATCH_INFO_VIEW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suserId != null" >
        SUSER_ID,
      </if>
      <if test="suserName != null" >
        SUSER_NAME,
      </if>
      <if test="suserSpell != null" >
        SUSER_SPELL,
      </if>
      <if test="suserSpell2 != null" >
        SUSER_SPELL2,
      </if>
      <if test="suserCode != null" >
        SUSER_CODE,
      </if>
      <if test="ssysName != null" >
        SSYS_NAME,
      </if>
      <if test="smatchUser != null" >
        SMATCH_USER,
      </if>
      <if test="smatchTime != null" >
        SMATCH_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suserId != null" >
        #{suserId,jdbcType=VARCHAR},
      </if>
      <if test="suserName != null" >
        #{suserName,jdbcType=VARCHAR},
      </if>
      <if test="suserSpell != null" >
        #{suserSpell,jdbcType=VARCHAR},
      </if>
      <if test="suserSpell2 != null" >
        #{suserSpell2,jdbcType=VARCHAR},
      </if>
      <if test="suserCode != null" >
        #{suserCode,jdbcType=VARCHAR},
      </if>
      <if test="ssysName != null" >
        #{ssysName,jdbcType=VARCHAR},
      </if>
      <if test="smatchUser != null" >
        #{smatchUser,jdbcType=VARCHAR},
      </if>
      <if test="smatchTime != null" >
        #{smatchTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>