<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.MrBorrowMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.medrec.MrBorrow" >
    <id column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <id column="VISIT_ID" property="visitId" jdbcType="DECIMAL" />
    <result column="INP_NO" property="inpNo" jdbcType="VARCHAR" />
    <result column="MR_BORROW_DATE" property="mrBorrowDate" jdbcType="DATE" />
    <result column="MR_BORROWER" property="mrBorrower" jdbcType="VARCHAR" />
    <result column="MR_LEND_DATE" property="mrLendDate" jdbcType="DATE" />
    <result column="MR_LENDER" property="mrLender" jdbcType="VARCHAR" />
    <result column="MR_RETURN_DATE" property="mrReturnDate" jdbcType="DATE" />
    <result column="MR_RETURNER" property="mrReturner" jdbcType="VARCHAR" />
    <result column="MR_CONFIRMER" property="mrConfirmer" jdbcType="VARCHAR" />
    <result column="MR_MENO" property="mrMeno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PATIENT_ID, VISIT_ID, INP_NO, MR_BORROW_DATE, MR_BORROWER, MR_LEND_DATE, MR_LENDER, 
    MR_RETURN_DATE, MR_RETURNER, MR_CONFIRMER, MR_MENO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.medrec.MrBorrowKey" >
    select 
    <include refid="Base_Column_List" />
    from MEDREC.MR_BORROW
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.medrec.MrBorrowKey" >
    delete from MEDREC.MR_BORROW
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.medrec.MrBorrow" >
    insert into MEDREC.MR_BORROW (PATIENT_ID, VISIT_ID, INP_NO, 
      MR_BORROW_DATE, MR_BORROWER, MR_LEND_DATE, 
      MR_LENDER, MR_RETURN_DATE, MR_RETURNER, 
      MR_CONFIRMER, MR_MENO)
    values (#{patientId,jdbcType=VARCHAR}, #{visitId,jdbcType=DECIMAL}, #{inpNo,jdbcType=VARCHAR}, 
      #{mrBorrowDate,jdbcType=DATE}, #{mrBorrower,jdbcType=VARCHAR}, #{mrLendDate,jdbcType=DATE}, 
      #{mrLender,jdbcType=VARCHAR}, #{mrReturnDate,jdbcType=DATE}, #{mrReturner,jdbcType=VARCHAR}, 
      #{mrConfirmer,jdbcType=VARCHAR}, #{mrMeno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.medrec.MrBorrow" >
    insert into MEDREC.MR_BORROW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="visitId != null" >
        VISIT_ID,
      </if>
      <if test="inpNo != null" >
        INP_NO,
      </if>
      <if test="mrBorrowDate != null" >
        MR_BORROW_DATE,
      </if>
      <if test="mrBorrower != null" >
        MR_BORROWER,
      </if>
      <if test="mrLendDate != null" >
        MR_LEND_DATE,
      </if>
      <if test="mrLender != null" >
        MR_LENDER,
      </if>
      <if test="mrReturnDate != null" >
        MR_RETURN_DATE,
      </if>
      <if test="mrReturner != null" >
        MR_RETURNER,
      </if>
      <if test="mrConfirmer != null" >
        MR_CONFIRMER,
      </if>
      <if test="mrMeno != null" >
        MR_MENO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null" >
        #{visitId,jdbcType=DECIMAL},
      </if>
      <if test="inpNo != null" >
        #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="mrBorrowDate != null" >
        #{mrBorrowDate,jdbcType=DATE},
      </if>
      <if test="mrBorrower != null" >
        #{mrBorrower,jdbcType=VARCHAR},
      </if>
      <if test="mrLendDate != null" >
        #{mrLendDate,jdbcType=DATE},
      </if>
      <if test="mrLender != null" >
        #{mrLender,jdbcType=VARCHAR},
      </if>
      <if test="mrReturnDate != null" >
        #{mrReturnDate,jdbcType=DATE},
      </if>
      <if test="mrReturner != null" >
        #{mrReturner,jdbcType=VARCHAR},
      </if>
      <if test="mrConfirmer != null" >
        #{mrConfirmer,jdbcType=VARCHAR},
      </if>
      <if test="mrMeno != null" >
        #{mrMeno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.medrec.MrBorrow" >
    update MEDREC.MR_BORROW
    <set >
      <if test="inpNo != null" >
        INP_NO = #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="mrBorrowDate != null" >
        MR_BORROW_DATE = #{mrBorrowDate,jdbcType=DATE},
      </if>
      <if test="mrBorrower != null" >
        MR_BORROWER = #{mrBorrower,jdbcType=VARCHAR},
      </if>
      <if test="mrLendDate != null" >
        MR_LEND_DATE = #{mrLendDate,jdbcType=DATE},
      </if>
      <if test="mrLender != null" >
        MR_LENDER = #{mrLender,jdbcType=VARCHAR},
      </if>
      <if test="mrReturnDate != null" >
        MR_RETURN_DATE = #{mrReturnDate,jdbcType=DATE},
      </if>
      <if test="mrReturner != null" >
        MR_RETURNER = #{mrReturner,jdbcType=VARCHAR},
      </if>
      <if test="mrConfirmer != null" >
        MR_CONFIRMER = #{mrConfirmer,jdbcType=VARCHAR},
      </if>
      <if test="mrMeno != null" >
        MR_MENO = #{mrMeno,jdbcType=VARCHAR},
      </if>
    </set>
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.medrec.MrBorrow" >
    update MEDREC.MR_BORROW
    set INP_NO = #{inpNo,jdbcType=VARCHAR},
      MR_BORROW_DATE = #{mrBorrowDate,jdbcType=DATE},
      MR_BORROWER = #{mrBorrower,jdbcType=VARCHAR},
      MR_LEND_DATE = #{mrLendDate,jdbcType=DATE},
      MR_LENDER = #{mrLender,jdbcType=VARCHAR},
      MR_RETURN_DATE = #{mrReturnDate,jdbcType=DATE},
      MR_RETURNER = #{mrReturner,jdbcType=VARCHAR},
      MR_CONFIRMER = #{mrConfirmer,jdbcType=VARCHAR},
      MR_MENO = #{mrMeno,jdbcType=VARCHAR}
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=DECIMAL}
  </update>
</mapper>