<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.MrFeeClassDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.MrFeeClassDict" >
    <id column="MR_FEE_CLASS_CODE" property="mrFeeClassCode" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="MR_FEE_CLASS_NAME" property="mrFeeClassName" jdbcType="VARCHAR" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    MR_FEE_CLASS_CODE, SERIAL_NO, MR_FEE_CLASS_NAME, INPUT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.MR_FEE_CLASS_DICT
    where MR_FEE_CLASS_CODE = #{mrFeeClassCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.MR_FEE_CLASS_DICT
    where MR_FEE_CLASS_CODE = #{mrFeeClassCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.MrFeeClassDict" >
    insert into COMM.MR_FEE_CLASS_DICT (MR_FEE_CLASS_CODE, SERIAL_NO, MR_FEE_CLASS_NAME, 
      INPUT_CODE)
    values (#{mrFeeClassCode,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{mrFeeClassName,jdbcType=VARCHAR}, 
      #{inputCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.MrFeeClassDict" >
    insert into COMM.MR_FEE_CLASS_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mrFeeClassCode != null" >
        MR_FEE_CLASS_CODE,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="mrFeeClassName != null" >
        MR_FEE_CLASS_NAME,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mrFeeClassCode != null" >
        #{mrFeeClassCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="mrFeeClassName != null" >
        #{mrFeeClassName,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.MrFeeClassDict" >
    update COMM.MR_FEE_CLASS_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="mrFeeClassName != null" >
        MR_FEE_CLASS_NAME = #{mrFeeClassName,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
    </set>
    where MR_FEE_CLASS_CODE = #{mrFeeClassCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.MrFeeClassDict" >
    update COMM.MR_FEE_CLASS_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      MR_FEE_CLASS_NAME = #{mrFeeClassName,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR}
    where MR_FEE_CLASS_CODE = #{mrFeeClassCode,jdbcType=VARCHAR}
  </update>
</mapper>