<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.MrStatusPaperMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.medrec.MrStatusPaperKey" >
    <id column="STATUS_CODE" property="statusCode" jdbcType="VARCHAR" />
    <id column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.medrec.MrStatusPaperKey" >
    delete from MEDREC.MR_STATUS_PAPER
    where STATUS_CODE = #{statusCode,jdbcType=VARCHAR}
      and STATUS_NAME = #{statusName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.medrec.MrStatusPaperKey" >
    insert into MEDREC.MR_STATUS_PAPER (STATUS_CODE, STATUS_NAME)
    values (#{statusCode,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.medrec.MrStatusPaperKey" >
    insert into MEDREC.MR_STATUS_PAPER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statusCode != null" >
        STATUS_CODE,
      </if>
      <if test="statusName != null" >
        STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statusCode != null" >
        #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>