<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.OrderClassDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.OrderClassDict" >
    <id column="ORDER_CLASS_CODE" property="orderClassCode" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="ORDER_CLASS_NAME" property="orderClassName" jdbcType="VARCHAR" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_CLASS_CODE, SERIAL_NO, ORDER_CLASS_NAME, INPUT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.ORDER_CLASS_DICT
    where ORDER_CLASS_CODE = #{orderClassCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.ORDER_CLASS_DICT
    where ORDER_CLASS_CODE = #{orderClassCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.OrderClassDict" >
    insert into COMM.ORDER_CLASS_DICT (ORDER_CLASS_CODE, SERIAL_NO, ORDER_CLASS_NAME, 
      INPUT_CODE)
    values (#{orderClassCode,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{orderClassName,jdbcType=VARCHAR}, 
      #{inputCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.OrderClassDict" >
    insert into COMM.ORDER_CLASS_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderClassCode != null" >
        ORDER_CLASS_CODE,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="orderClassName != null" >
        ORDER_CLASS_NAME,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderClassCode != null" >
        #{orderClassCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="orderClassName != null" >
        #{orderClassName,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.OrderClassDict" >
    update COMM.ORDER_CLASS_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="orderClassName != null" >
        ORDER_CLASS_NAME = #{orderClassName,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_CLASS_CODE = #{orderClassCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.OrderClassDict" >
    update COMM.ORDER_CLASS_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      ORDER_CLASS_NAME = #{orderClassName,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR}
    where ORDER_CLASS_CODE = #{orderClassCode,jdbcType=VARCHAR}
  </update>
</mapper>