<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.OutpOrdersCostsMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.outpdoct.OutpOrdersCosts" >
    <id column="SERIAL_NO" property="serialNo" jdbcType="VARCHAR" />
    <id column="ORDER_CLASS" property="orderClass" jdbcType="VARCHAR" />
    <id column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
    <id column="ITEM_NO" property="itemNo" jdbcType="DECIMAL" />
    <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <result column="VISIT_DATE" property="visitDate" jdbcType="DATE" />
    <result column="VISIT_NO" property="visitNo" jdbcType="DECIMAL" />
    <result column="ORDER_SUB_NO" property="orderSubNo" jdbcType="DECIMAL" />
    <result column="ITEM_CLASS" property="itemClass" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    <result column="ITEM_SPEC" property="itemSpec" jdbcType="VARCHAR" />
    <result column="UNITS" property="units" jdbcType="VARCHAR" />
    <result column="REPETITION" property="repetition" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="ORDERED_BY_DEPT" property="orderedByDept" jdbcType="VARCHAR" />
    <result column="ORDERED_BY_DOCTOR" property="orderedByDoctor" jdbcType="VARCHAR" />
    <result column="PERFORMED_BY" property="performedBy" jdbcType="VARCHAR" />
    <result column="CLASS_ON_RCPT" property="classOnRcpt" jdbcType="VARCHAR" />
    <result column="COSTS" property="costs" jdbcType="DECIMAL" />
    <result column="CHARGES" property="charges" jdbcType="DECIMAL" />
    <result column="RCPT_NO" property="rcptNo" jdbcType="VARCHAR" />
    <result column="BILL_DESC_NO" property="billDescNo" jdbcType="DECIMAL" />
    <result column="BILL_ITEM_NO" property="billItemNo" jdbcType="DECIMAL" />
    <result column="CHARGE_INDICATOR" property="chargeIndicator" jdbcType="DECIMAL" />
    <result column="APPOINT_NO" property="appointNo" jdbcType="VARCHAR" />
    <result column="RECIPETYPE" property="recipetype" jdbcType="VARCHAR" />
    <result column="DRUG_SPEC" property="drugSpec" jdbcType="VARCHAR" />
    <result column="FIRM_ID" property="firmId" jdbcType="VARCHAR" />
    <result column="DOSAGE" property="dosage" jdbcType="DECIMAL" />
    <result column="DOSAGE_UNITS" property="dosageUnits" jdbcType="VARCHAR" />
    <result column="ADMINISTRATION" property="administration" jdbcType="VARCHAR" />
    <result column="FREQUENCY" property="frequency" jdbcType="VARCHAR" />
    <result column="DAYS" property="days" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
    <result column="CHARGE_TYPE" property="chargeType" jdbcType="VARCHAR" />
    <result column="ORDER_BY_NAME" property="orderByName" jdbcType="VARCHAR" />
    <result column="MIN_SPEC" property="minSpec" jdbcType="VARCHAR" />
    <result column="DIAG_DESC" property="diagDesc" jdbcType="VARCHAR" />
    <result column="BYJ_ATTR" property="byjAttr" jdbcType="DECIMAL" />
    <result column="JUST_RCPT_NO" property="justRcptNo" jdbcType="VARCHAR" />
    <result column="JUST_INSU_FLAG" property="justInsuFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIAL_NO, ORDER_CLASS, ORDER_NO, ITEM_NO, PATIENT_ID, VISIT_DATE, VISIT_NO, ORDER_SUB_NO, 
    ITEM_CLASS, ITEM_NAME, ITEM_CODE, ITEM_SPEC, UNITS, REPETITION, AMOUNT, ORDERED_BY_DEPT, 
    ORDERED_BY_DOCTOR, PERFORMED_BY, CLASS_ON_RCPT, COSTS, CHARGES, RCPT_NO, BILL_DESC_NO, 
    BILL_ITEM_NO, CHARGE_INDICATOR, APPOINT_NO, RECIPETYPE, DRUG_SPEC, FIRM_ID, DOSAGE, 
    DOSAGE_UNITS, ADMINISTRATION, FREQUENCY, DAYS, NAME, SEX, AGE, CHARGE_TYPE, ORDER_BY_NAME, 
    MIN_SPEC, DIAG_DESC, BYJ_ATTR, JUST_RCPT_NO, JUST_INSU_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCostsKey" >
    select
    <include refid="Base_Column_List" />
    from OUTPDOCT.OUTP_ORDERS_COSTS
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ORDER_CLASS = #{orderClass,jdbcType=VARCHAR}
      and ORDER_NO = #{orderNo,jdbcType=DECIMAL}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
  </select>
  <select id="selectOrdersCostsList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from OUTPDOCT.OUTP_ORDERS_COSTS o
    where o.visit_date in(select c.visit_date from outpadm.clinic_master c  where c.patient_id=#{0} and c.charge_type =#{1})
      and o.patient_id=#{0}
      and o.CHARGE_INDICATOR=0

  </select>

  <select id="selectOrdersCostsListBySerialNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from outpdoct.outp_orders_costs o
    where SERIAL_NO = #{0}
    and  visit_date =#{1}
    and  visit_no=#{2}
    and  PERFORMED_BY !='0819'
    and  (((order_class = 'D')
    AND (((select count(*)
    from outpdoct.outp_treat_rec t,comm.dept_exam_item_dict e
    where t.visit_date = o.visit_date
    and t.visit_no = o.visit_no
    and  t.item_code = e.exam_item_code
    and t.performed_by = e.performed_by
    AND t.performed_by = o.performed_by) = 1) and
    o.performed_by in ('0901', '3206', '4701','1201','1106')) or
    (performed_by in ('0905', '0902') and byj_attr = 3 ) or
    performed_by not in ('0901', '0902', '0905', '3206', '4701','1201','1106')) OR
    ORDER_CLASS NOT IN ('D'))
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectOrdersCostsListBySerialNo1" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from outpdoct.outp_orders_costs o
    where SERIAL_NO = #{0}
    and  PERFORMED_BY !='0819'
    and  (((order_class = 'D')
    AND (((select count(*)
    from outpdoct.outp_treat_rec t,comm.dept_exam_item_dict e
    where t.visit_date = o.visit_date
    and t.visit_no = o.visit_no
    and  t.item_code = e.exam_item_code
    and t.performed_by = e.performed_by
    AND t.performed_by = o.performed_by) = 1) and
    o.performed_by in ('0901', '3206', '4701','1201','1106')) or
    (performed_by in ('0905', '0902') and byj_attr = 3 ) or
    performed_by not in ('0901', '0902', '0905', '3206', '4701','1201','1106')) OR
    ORDER_CLASS NOT IN ('D'))
    and CHARGE_INDICATOR=0

  </select>
  <select id="selectOrdersCostsListForPresc" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from OUTPDOCT.OUTP_ORDERS_COSTS
    where SERIAL_NO = #{0}
    and ORDER_CLASS in('A','B','P')
    and  PERFORMED_BY !='0819'

  </select>
  <select id="selectOrdersCostsDeptForJY" resultMap="BaseResultMap" >
  select
    DISTINCT PERFORMED_BY
  from OUTPDOCT.OUTP_ORDERS_COSTS o
  where  visit_date =#{1}
  and  visit_no=#{0}
  and ORDER_CLASS ='C'
  and ITEM_CODE IN (select hisitemcode from LIS_MACHINEHISITEM  WHERE  sampletype like '血%')
  and CHARGE_INDICATOR=0
  </select>

  <select id="selectOrdersCostsListForDeleteFC" resultMap="BaseResultMap" >
  select
    <include refid="Base_Column_List" />
  from OUTPDOCT.OUTP_ORDERS_COSTS o
  where visit_date =#{1}
    and  visit_no=#{2}
    and  PATIENT_ID=#{0}
    and ORDERED_BY_DEPT='s160'
    and  PERFORMED_BY !='0819'
  and CHARGE_INDICATOR=0
</select>

  <select id="selectOrdersCostsListByRecptNo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from OUTPDOCT.OUTP_ORDERS_COSTS
    where RCPT_NO =#{0}
    and ITEM_CLASS in('A','B')
  </select>

  <select id="selectISOrdersCostsForMaxItemNo" resultMap="BaseResultMap" >
    select
    MAX(o.item_no) ITEM_NO
    from OUTPDOCT.OUTP_ORDERS_COSTS o
    where  visit_date =#{0}
    and  visit_no=#{1}
    and SERIAL_NO = #{2}
    and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0
  </select>

  <select id="selectISOrdersCostsForMaxAmount" resultMap="BaseResultMap" >
    <![CDATA[
    select
    MAX(o.AMOUNT) AMOUNT
    from OUTPDOCT.OUTP_ORDERS_COSTS o
    where  visit_date =#{0}
    and  visit_no=#{1}
    and  PERFORMED_BY !='0819'
    and ITEM_CLASS ='A'
    and ADMINISTRATION =#{2}
    and PATIENT_ID=#{3}
    and CHARGE_INDICATOR=0
    ]]>
  </select>

  <select id="selectOrdersCostsDeleteForSG" resultMap="BaseResultMap"  >
        select *
        from OUTPDOCT.OUTP_ORDERS_COSTS o
        where  visit_date =#{1}
        and  visit_no=#{0}
        and ( ORDER_BY_NAME=#{2} or ORDER_BY_NAME=#{3} )
        and  PERFORMED_BY !='0819'
        and CHARGE_INDICATOR=0
    </select>
  <select id="deleteOrdersCostsDeleteForSG" resultMap="BaseResultMap"  >
    DELETE
    from OUTPDOCT.OUTP_ORDERS_COSTS o
    where visit_date =#{1}
      and  visit_no=#{0}
      and ORDER_BY_NAME='s160'
      and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0
  </select>
  <select id="selectOrdersCostsDeptForSG" resultMap="BaseResultMap"  >
    select *
    from OUTPDOCT.OUTP_ORDERS_COSTS o
    where  visit_date =#{1}
    and  visit_no=#{0}
    and ( ORDER_BY_NAME=#{2} or ORDER_BY_NAME=#{3} )
    and order_no=0
    and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0
  </select>
  <select id="selectCountBySerialNo" resultMap="BaseResultMap" >
  select
  sum(o.charges) COSTS
  from outpdoct.outp_orders_costs o
  where SERIAL_NO = #{0}
  and  visit_date =#{1}
  and  visit_no=#{2}
  and  PERFORMED_BY !='0819'
  and  (((order_class = 'D')
            AND (((select count(*)
            from outpdoct.outp_treat_rec t,comm.dept_exam_item_dict e
            where t.visit_date = o.visit_date
            and t.visit_no = o.visit_no
            and  t.item_code = e.exam_item_code
            and t.performed_by = e.performed_by
            AND t.performed_by = o.performed_by) = 1) and
            o.performed_by in ('0901', '3206', '4701','1201','1106')) or
				(performed_by in ('0905', '0902') and byj_attr = 3 ) or
            performed_by not in ('0901', '0902', '0905', '3206', '4701','1201','1106')) OR
            ORDER_CLASS NOT IN ('D'))
    and CHARGE_INDICATOR=0

</select>

  <select id="selectISOrdersCostsForDays" resultMap="BaseResultMap"  >
    select
    max(o.days) DAYS
    from outpdoct.outp_orders_costs o
    where order_class = 'A'
    and visit_date =#{0}
    and  visit_no=#{1}
     and  PATIENT_ID=#{2}
     and  PERFORMED_BY !='0819'
    and ( ADMINISTRATION = #{3} or
          ADMINISTRATION = #{4} or
          ADMINISTRATION  = #{5} )
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectISOrdersCostsForChildDays" resultMap="BaseResultMap"  >
    select
    max(o.days) DAYS
    from outpdoct.outp_orders_costs o
    where order_class = 'A'
    and visit_date =#{0}
    and  visit_no=#{1}
    and  PATIENT_ID=#{2}
    and ADMINISTRATION = #{3}
    and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectISOrdersCostsForChildJM" resultMap="BaseResultMap"  >
    select
    *
    from outpdoct.outp_orders_costs o
    where  visit_date =#{0}
    and  visit_no=#{1}
    and  PATIENT_ID=#{2}
    and ITEM_CODE='120400007B'
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectISOrdersCostsForJM" resultMap="BaseResultMap"  >
    select
    *
    from outpdoct.outp_orders_costs o
    where  visit_date =#{0}
    and  visit_no=#{1}
    and  PATIENT_ID=#{2}
    and ITEM_CODE='120400006'
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectISOrdersCostsForChildYF" resultMap="BaseResultMap"  >
    select
    *
    from outpdoct.outp_orders_costs o
    where order_class = 'A'
    and visit_date =#{0}
    and  visit_no=#{1}
    and  PATIENT_ID=#{2}
    and  ADMINISTRATION = #{3}
    and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectOrdersCostsListForCXQ" resultMap="BaseResultMap"  >
    select
    *
    from outpdoct.outp_orders_costs o
    where  visit_date =#{1}
    and  visit_no=#{0}
    and  PATIENT_ID=#{2}
    and item_code='71AAF01508'

  </select>
  <select id="selectISOrdersCostsForYF" resultMap="BaseResultMap"  >
    select
    *
    from outpdoct.outp_orders_costs o
    where order_class = 'A'
    and visit_date =#{0}
    and  visit_no=#{1}
    and  PATIENT_ID=#{2}
    and ( ADMINISTRATION = #{3} or
    ADMINISTRATION = #{4} or
    ADMINISTRATION  = #{5} )
    and  PERFORMED_BY !='0819'
    and CHARGE_INDICATOR=0

  </select>

  <select id="selectCountBySerialNo1" resultMap="BaseResultMap"  >
    select
    sum(o.charges) COSTS
    from outpdoct.outp_orders_costs o
    where SERIAL_NO = #{0}
    and  PERFORMED_BY !='0819'
     and  (((order_class = 'D')
            AND (((select count(*)
            from outpdoct.outp_treat_rec t,comm.dept_exam_item_dict e
            where t.visit_date = o.visit_date
            and t.visit_no = o.visit_no
            and  t.item_code = e.exam_item_code
            and t.performed_by = e.performed_by
            AND t.performed_by = o.performed_by) = 1) and
            o.performed_by in ('0901', '3206', '4701','1201','1106')) or
				(performed_by in ('0905', '0902') and byj_attr = 3 ) or
            performed_by not in ('0901', '0902', '0905', '3206', '4701','1201','1106')) OR
            ORDER_CLASS NOT IN ('D'))
    and CHARGE_INDICATOR=0

  </select>
  <select id="selectOrdersCostsForOrderType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      DISTINCT ORDER_CLASS ORDER_CLASS
    from OUTPDOCT.OUTP_ORDERS_COSTS
    where SERIAL_NO = #{0}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCostsKey" >
    delete from OUTPDOCT.OUTP_ORDERS_COSTS
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ORDER_CLASS = #{orderClass,jdbcType=VARCHAR}
      and ORDER_NO = #{orderNo,jdbcType=DECIMAL}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCosts" >
    insert into OUTPDOCT.OUTP_ORDERS_COSTS (SERIAL_NO, ORDER_CLASS, ORDER_NO, 
      ITEM_NO, PATIENT_ID, VISIT_DATE, 
      VISIT_NO, ORDER_SUB_NO, ITEM_CLASS, 
      ITEM_NAME, ITEM_CODE, ITEM_SPEC, 
      UNITS, REPETITION, AMOUNT, 
      ORDERED_BY_DEPT, ORDERED_BY_DOCTOR, PERFORMED_BY, 
      CLASS_ON_RCPT, COSTS, CHARGES, 
      RCPT_NO, BILL_DESC_NO, BILL_ITEM_NO, 
      CHARGE_INDICATOR, APPOINT_NO, RECIPETYPE, 
      DRUG_SPEC, FIRM_ID, DOSAGE, 
      DOSAGE_UNITS, ADMINISTRATION, FREQUENCY, 
      DAYS, NAME, SEX, AGE, 
      CHARGE_TYPE, ORDER_BY_NAME, MIN_SPEC, 
      DIAG_DESC, BYJ_ATTR, JUST_RCPT_NO, 
      JUST_INSU_FLAG)
    values (#{serialNo,jdbcType=VARCHAR}, #{orderClass,jdbcType=VARCHAR}, #{orderNo,jdbcType=DECIMAL}, 
      #{itemNo,jdbcType=DECIMAL}, #{patientId,jdbcType=VARCHAR}, #{visitDate,jdbcType=DATE}, 
      #{visitNo,jdbcType=DECIMAL}, #{orderSubNo,jdbcType=DECIMAL}, #{itemClass,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{itemSpec,jdbcType=VARCHAR}, 
      #{units,jdbcType=VARCHAR}, #{repetition,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{orderedByDept,jdbcType=VARCHAR}, #{orderedByDoctor,jdbcType=VARCHAR}, #{performedBy,jdbcType=VARCHAR}, 
      #{classOnRcpt,jdbcType=VARCHAR}, #{costs,jdbcType=DECIMAL}, #{charges,jdbcType=DECIMAL}, 
      #{rcptNo,jdbcType=VARCHAR}, #{billDescNo,jdbcType=DECIMAL}, #{billItemNo,jdbcType=DECIMAL}, 
      #{chargeIndicator,jdbcType=DECIMAL}, #{appointNo,jdbcType=VARCHAR}, #{recipetype,jdbcType=VARCHAR}, 
      #{drugSpec,jdbcType=VARCHAR}, #{firmId,jdbcType=VARCHAR}, #{dosage,jdbcType=DECIMAL}, 
      #{dosageUnits,jdbcType=VARCHAR}, #{administration,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, 
      #{days,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=DECIMAL}, 
      #{chargeType,jdbcType=VARCHAR}, #{orderByName,jdbcType=VARCHAR}, #{minSpec,jdbcType=VARCHAR}, 
      #{diagDesc,jdbcType=VARCHAR}, #{byjAttr,jdbcType=DECIMAL}, #{justRcptNo,jdbcType=VARCHAR}, 
      #{justInsuFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCosts" >
    insert into OUTPDOCT.OUTP_ORDERS_COSTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="orderClass != null" >
        ORDER_CLASS,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="visitDate != null" >
        VISIT_DATE,
      </if>
      <if test="visitNo != null" >
        VISIT_NO,
      </if>
      <if test="orderSubNo != null" >
        ORDER_SUB_NO,
      </if>
      <if test="itemClass != null" >
        ITEM_CLASS,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="itemSpec != null" >
        ITEM_SPEC,
      </if>
      <if test="units != null" >
        UNITS,
      </if>
      <if test="repetition != null" >
        REPETITION,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="orderedByDept != null" >
        ORDERED_BY_DEPT,
      </if>
      <if test="orderedByDoctor != null" >
        ORDERED_BY_DOCTOR,
      </if>
      <if test="performedBy != null" >
        PERFORMED_BY,
      </if>
      <if test="classOnRcpt != null" >
        CLASS_ON_RCPT,
      </if>
      <if test="costs != null" >
        COSTS,
      </if>
      <if test="charges != null" >
        CHARGES,
      </if>
      <if test="rcptNo != null" >
        RCPT_NO,
      </if>
      <if test="billDescNo != null" >
        BILL_DESC_NO,
      </if>
      <if test="billItemNo != null" >
        BILL_ITEM_NO,
      </if>
      <if test="chargeIndicator != null" >
        CHARGE_INDICATOR,
      </if>
      <if test="appointNo != null" >
        APPOINT_NO,
      </if>
      <if test="recipetype != null" >
        RECIPETYPE,
      </if>
      <if test="drugSpec != null" >
        DRUG_SPEC,
      </if>
      <if test="firmId != null" >
        FIRM_ID,
      </if>
      <if test="dosage != null" >
        DOSAGE,
      </if>
      <if test="dosageUnits != null" >
        DOSAGE_UNITS,
      </if>
      <if test="administration != null" >
        ADMINISTRATION,
      </if>
      <if test="frequency != null" >
        FREQUENCY,
      </if>
      <if test="days != null" >
        DAYS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="chargeType != null" >
        CHARGE_TYPE,
      </if>
      <if test="orderByName != null" >
        ORDER_BY_NAME,
      </if>
      <if test="minSpec != null" >
        MIN_SPEC,
      </if>
      <if test="diagDesc != null" >
        DIAG_DESC,
      </if>
      <if test="byjAttr != null" >
        BYJ_ATTR,
      </if>
      <if test="justRcptNo != null" >
        JUST_RCPT_NO,
      </if>
      <if test="justInsuFlag != null" >
        JUST_INSU_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="orderClass != null" >
        #{orderClass,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=DECIMAL},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="visitNo != null" >
        #{visitNo,jdbcType=DECIMAL},
      </if>
      <if test="orderSubNo != null" >
        #{orderSubNo,jdbcType=DECIMAL},
      </if>
      <if test="itemClass != null" >
        #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null" >
        #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="repetition != null" >
        #{repetition,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderedByDept != null" >
        #{orderedByDept,jdbcType=VARCHAR},
      </if>
      <if test="orderedByDoctor != null" >
        #{orderedByDoctor,jdbcType=VARCHAR},
      </if>
      <if test="performedBy != null" >
        #{performedBy,jdbcType=VARCHAR},
      </if>
      <if test="classOnRcpt != null" >
        #{classOnRcpt,jdbcType=VARCHAR},
      </if>
      <if test="costs != null" >
        #{costs,jdbcType=DECIMAL},
      </if>
      <if test="charges != null" >
        #{charges,jdbcType=DECIMAL},
      </if>
      <if test="rcptNo != null" >
        #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="billDescNo != null" >
        #{billDescNo,jdbcType=DECIMAL},
      </if>
      <if test="billItemNo != null" >
        #{billItemNo,jdbcType=DECIMAL},
      </if>
      <if test="chargeIndicator != null" >
        #{chargeIndicator,jdbcType=DECIMAL},
      </if>
      <if test="appointNo != null" >
        #{appointNo,jdbcType=VARCHAR},
      </if>
      <if test="recipetype != null" >
        #{recipetype,jdbcType=VARCHAR},
      </if>
      <if test="drugSpec != null" >
        #{drugSpec,jdbcType=VARCHAR},
      </if>
      <if test="firmId != null" >
        #{firmId,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=DECIMAL},
      </if>
      <if test="dosageUnits != null" >
        #{dosageUnits,jdbcType=VARCHAR},
      </if>
      <if test="administration != null" >
        #{administration,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="orderByName != null" >
        #{orderByName,jdbcType=VARCHAR},
      </if>
      <if test="minSpec != null" >
        #{minSpec,jdbcType=VARCHAR},
      </if>
      <if test="diagDesc != null" >
        #{diagDesc,jdbcType=VARCHAR},
      </if>
      <if test="byjAttr != null" >
        #{byjAttr,jdbcType=DECIMAL},
      </if>
      <if test="justRcptNo != null" >
        #{justRcptNo,jdbcType=VARCHAR},
      </if>
      <if test="justInsuFlag != null" >
        #{justInsuFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCosts" >
    update OUTPDOCT.OUTP_ORDERS_COSTS
    <set >
      <if test="patientId != null" >
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        VISIT_DATE = #{visitDate,jdbcType=DATE},
      </if>
      <if test="visitNo != null" >
        VISIT_NO = #{visitNo,jdbcType=DECIMAL},
      </if>
      <if test="orderSubNo != null" >
        ORDER_SUB_NO = #{orderSubNo,jdbcType=DECIMAL},
      </if>
      <if test="itemClass != null" >
        ITEM_CLASS = #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null" >
        ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        UNITS = #{units,jdbcType=VARCHAR},
      </if>
      <if test="repetition != null" >
        REPETITION = #{repetition,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderedByDept != null" >
        ORDERED_BY_DEPT = #{orderedByDept,jdbcType=VARCHAR},
      </if>
      <if test="orderedByDoctor != null" >
        ORDERED_BY_DOCTOR = #{orderedByDoctor,jdbcType=VARCHAR},
      </if>
      <if test="performedBy != null" >
        PERFORMED_BY = #{performedBy,jdbcType=VARCHAR},
      </if>
      <if test="classOnRcpt != null" >
        CLASS_ON_RCPT = #{classOnRcpt,jdbcType=VARCHAR},
      </if>
      <if test="costs != null" >
        COSTS = #{costs,jdbcType=DECIMAL},
      </if>
      <if test="charges != null" >
        CHARGES = #{charges,jdbcType=DECIMAL},
      </if>
      <if test="rcptNo != null" >
        RCPT_NO = #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="billDescNo != null" >
        BILL_DESC_NO = #{billDescNo,jdbcType=DECIMAL},
      </if>
      <if test="billItemNo != null" >
        BILL_ITEM_NO = #{billItemNo,jdbcType=DECIMAL},
      </if>
      <if test="chargeIndicator != null" >
        CHARGE_INDICATOR = #{chargeIndicator,jdbcType=DECIMAL},
      </if>
      <if test="appointNo != null" >
        APPOINT_NO = #{appointNo,jdbcType=VARCHAR},
      </if>
      <if test="recipetype != null" >
        RECIPETYPE = #{recipetype,jdbcType=VARCHAR},
      </if>
      <if test="drugSpec != null" >
        DRUG_SPEC = #{drugSpec,jdbcType=VARCHAR},
      </if>
      <if test="firmId != null" >
        FIRM_ID = #{firmId,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        DOSAGE = #{dosage,jdbcType=DECIMAL},
      </if>
      <if test="dosageUnits != null" >
        DOSAGE_UNITS = #{dosageUnits,jdbcType=VARCHAR},
      </if>
      <if test="administration != null" >
        ADMINISTRATION = #{administration,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        FREQUENCY = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        DAYS = #{days,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="chargeType != null" >
        CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="orderByName != null" >
        ORDER_BY_NAME = #{orderByName,jdbcType=VARCHAR},
      </if>
      <if test="minSpec != null" >
        MIN_SPEC = #{minSpec,jdbcType=VARCHAR},
      </if>
      <if test="diagDesc != null" >
        DIAG_DESC = #{diagDesc,jdbcType=VARCHAR},
      </if>
      <if test="byjAttr != null" >
        BYJ_ATTR = #{byjAttr,jdbcType=DECIMAL},
      </if>
      <if test="justRcptNo != null" >
        JUST_RCPT_NO = #{justRcptNo,jdbcType=VARCHAR},
      </if>
      <if test="justInsuFlag != null" >
        JUST_INSU_FLAG = #{justInsuFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ORDER_CLASS = #{orderClass,jdbcType=VARCHAR}
      and ORDER_NO = #{orderNo,jdbcType=DECIMAL}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.outpdoct.OutpOrdersCosts" >
    update OUTPDOCT.OUTP_ORDERS_COSTS
    set PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      VISIT_DATE = #{visitDate,jdbcType=DATE},
      VISIT_NO = #{visitNo,jdbcType=DECIMAL},
      ORDER_SUB_NO = #{orderSubNo,jdbcType=DECIMAL},
      ITEM_CLASS = #{itemClass,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR},
      UNITS = #{units,jdbcType=VARCHAR},
      REPETITION = #{repetition,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      ORDERED_BY_DEPT = #{orderedByDept,jdbcType=VARCHAR},
      ORDERED_BY_DOCTOR = #{orderedByDoctor,jdbcType=VARCHAR},
      PERFORMED_BY = #{performedBy,jdbcType=VARCHAR},
      CLASS_ON_RCPT = #{classOnRcpt,jdbcType=VARCHAR},
      COSTS = #{costs,jdbcType=DECIMAL},
      CHARGES = #{charges,jdbcType=DECIMAL},
      RCPT_NO = #{rcptNo,jdbcType=VARCHAR},
      BILL_DESC_NO = #{billDescNo,jdbcType=DECIMAL},
      BILL_ITEM_NO = #{billItemNo,jdbcType=DECIMAL},
      CHARGE_INDICATOR = #{chargeIndicator,jdbcType=DECIMAL},
      APPOINT_NO = #{appointNo,jdbcType=VARCHAR},
      RECIPETYPE = #{recipetype,jdbcType=VARCHAR},
      DRUG_SPEC = #{drugSpec,jdbcType=VARCHAR},
      FIRM_ID = #{firmId,jdbcType=VARCHAR},
      DOSAGE = #{dosage,jdbcType=DECIMAL},
      DOSAGE_UNITS = #{dosageUnits,jdbcType=VARCHAR},
      ADMINISTRATION = #{administration,jdbcType=VARCHAR},
      FREQUENCY = #{frequency,jdbcType=VARCHAR},
      DAYS = #{days,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=DECIMAL},
      CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      ORDER_BY_NAME = #{orderByName,jdbcType=VARCHAR},
      MIN_SPEC = #{minSpec,jdbcType=VARCHAR},
      DIAG_DESC = #{diagDesc,jdbcType=VARCHAR},
      BYJ_ATTR = #{byjAttr,jdbcType=DECIMAL},
      JUST_RCPT_NO = #{justRcptNo,jdbcType=VARCHAR},
      JUST_INSU_FLAG = #{justInsuFlag,jdbcType=VARCHAR}
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ORDER_CLASS = #{orderClass,jdbcType=VARCHAR}
      and ORDER_NO = #{orderNo,jdbcType=DECIMAL}
      and ITEM_NO = #{itemNo,jdbcType=DECIMAL}
  </update>
  <update id="updateIndicatorBySerialNo" parameterType="java.lang.String">
     update OUTPDOCT.OUTP_ORDERS_COSTS o
      SET
       CHARGE_INDICATOR =1,
       RCPT_NO=#{1}
    where SERIAL_NO = #{0}
      and  PERFORMED_BY !='0819'
       and  (((order_class = 'D')
            AND (((select count(*)
            from outpdoct.outp_treat_rec t,comm.dept_exam_item_dict e
            where t.visit_date = o.visit_date
            and t.visit_no = o.visit_no
            and  t.item_code = e.exam_item_code
            and t.performed_by = e.performed_by
            AND t.performed_by = o.performed_by) = 1) and
            o.performed_by in ('0901', '3206', '4701','1201','1106')) or
				(performed_by in ('0905', '0902') and byj_attr = 3 ) or
            performed_by not in ('0901', '0902', '0905', '3206', '4701','1201','1106')) OR
            ORDER_CLASS NOT IN ('D'))
    and CHARGE_INDICATOR=0
  </update>
</mapper>