<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.OutpRcptMasterBackMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.outpbill.OutpRcptMasterBack" >
    <id column="RCPT_NO" property="rcptNo" jdbcType="VARCHAR" />
    <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NAME_PHONETIC" property="namePhonetic" jdbcType="VARCHAR" />
    <result column="IDENTITY" property="identity" jdbcType="VARCHAR" />
    <result column="CHARGE_TYPE" property="chargeType" jdbcType="VARCHAR" />
    <result column="UNIT_IN_CONTRACT" property="unitInContract" jdbcType="VARCHAR" />
    <result column="VISIT_DATE" property="visitDate" jdbcType="DATE" />
    <result column="TOTAL_COSTS" property="totalCosts" jdbcType="DECIMAL" />
    <result column="TOTAL_CHARGES" property="totalCharges" jdbcType="DECIMAL" />
    <result column="OPERATOR_NO" property="operatorNo" jdbcType="VARCHAR" />
    <result column="CHARGE_INDICATOR" property="chargeIndicator" jdbcType="DECIMAL" />
    <result column="REFUNDED_RCPT_NO" property="refundedRcptNo" jdbcType="VARCHAR" />
    <result column="ACCT_NO" property="acctNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RCPT_NO, PATIENT_ID, NAME, NAME_PHONETIC, IDENTITY, CHARGE_TYPE, UNIT_IN_CONTRACT, 
    VISIT_DATE, TOTAL_COSTS, TOTAL_CHARGES, OPERATOR_NO, CHARGE_INDICATOR, REFUNDED_RCPT_NO, 
    ACCT_NO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OUTPBILL.OUTP_RCPT_MASTER_BACK
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OUTPBILL.OUTP_RCPT_MASTER_BACK
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.outpbill.OutpRcptMasterBack" >
    insert into OUTPBILL.OUTP_RCPT_MASTER_BACK (RCPT_NO, PATIENT_ID, NAME, 
      NAME_PHONETIC, IDENTITY, CHARGE_TYPE, 
      UNIT_IN_CONTRACT, VISIT_DATE, TOTAL_COSTS, 
      TOTAL_CHARGES, OPERATOR_NO, CHARGE_INDICATOR, 
      REFUNDED_RCPT_NO, ACCT_NO)
    values (#{rcptNo,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{namePhonetic,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, 
      #{unitInContract,jdbcType=VARCHAR}, #{visitDate,jdbcType=DATE}, #{totalCosts,jdbcType=DECIMAL}, 
      #{totalCharges,jdbcType=DECIMAL}, #{operatorNo,jdbcType=VARCHAR}, #{chargeIndicator,jdbcType=DECIMAL}, 
      #{refundedRcptNo,jdbcType=VARCHAR}, #{acctNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.outpbill.OutpRcptMasterBack" >
    insert into OUTPBILL.OUTP_RCPT_MASTER_BACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcptNo != null" >
        RCPT_NO,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="namePhonetic != null" >
        NAME_PHONETIC,
      </if>
      <if test="identity != null" >
        IDENTITY,
      </if>
      <if test="chargeType != null" >
        CHARGE_TYPE,
      </if>
      <if test="unitInContract != null" >
        UNIT_IN_CONTRACT,
      </if>
      <if test="visitDate != null" >
        VISIT_DATE,
      </if>
      <if test="totalCosts != null" >
        TOTAL_COSTS,
      </if>
      <if test="totalCharges != null" >
        TOTAL_CHARGES,
      </if>
      <if test="operatorNo != null" >
        OPERATOR_NO,
      </if>
      <if test="chargeIndicator != null" >
        CHARGE_INDICATOR,
      </if>
      <if test="refundedRcptNo != null" >
        REFUNDED_RCPT_NO,
      </if>
      <if test="acctNo != null" >
        ACCT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcptNo != null" >
        #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null" >
        #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null" >
        #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="totalCosts != null" >
        #{totalCosts,jdbcType=DECIMAL},
      </if>
      <if test="totalCharges != null" >
        #{totalCharges,jdbcType=DECIMAL},
      </if>
      <if test="operatorNo != null" >
        #{operatorNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeIndicator != null" >
        #{chargeIndicator,jdbcType=DECIMAL},
      </if>
      <if test="refundedRcptNo != null" >
        #{refundedRcptNo,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null" >
        #{acctNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.outpbill.OutpRcptMasterBack" >
    update OUTPBILL.OUTP_RCPT_MASTER_BACK
    <set >
      <if test="patientId != null" >
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null" >
        NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        IDENTITY = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null" >
        UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        VISIT_DATE = #{visitDate,jdbcType=DATE},
      </if>
      <if test="totalCosts != null" >
        TOTAL_COSTS = #{totalCosts,jdbcType=DECIMAL},
      </if>
      <if test="totalCharges != null" >
        TOTAL_CHARGES = #{totalCharges,jdbcType=DECIMAL},
      </if>
      <if test="operatorNo != null" >
        OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeIndicator != null" >
        CHARGE_INDICATOR = #{chargeIndicator,jdbcType=DECIMAL},
      </if>
      <if test="refundedRcptNo != null" >
        REFUNDED_RCPT_NO = #{refundedRcptNo,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null" >
        ACCT_NO = #{acctNo,jdbcType=VARCHAR},
      </if>
    </set>
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.outpbill.OutpRcptMasterBack" >
    update OUTPBILL.OUTP_RCPT_MASTER_BACK
    set PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      IDENTITY = #{identity,jdbcType=VARCHAR},
      CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      VISIT_DATE = #{visitDate,jdbcType=DATE},
      TOTAL_COSTS = #{totalCosts,jdbcType=DECIMAL},
      TOTAL_CHARGES = #{totalCharges,jdbcType=DECIMAL},
      OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR},
      CHARGE_INDICATOR = #{chargeIndicator,jdbcType=DECIMAL},
      REFUNDED_RCPT_NO = #{refundedRcptNo,jdbcType=VARCHAR},
      ACCT_NO = #{acctNo,jdbcType=VARCHAR}
    where RCPT_NO = #{rcptNo,jdbcType=VARCHAR}
  </update>
</mapper>