<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.PriceItemNameDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.PriceItemNameDict" >
    <id column="ITEM_CLASS" property="itemClass" jdbcType="VARCHAR" />
    <id column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    <result column="STD_INDICATOR" property="stdIndicator" jdbcType="DECIMAL" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ITEM_CLASS, ITEM_NAME, ITEM_CODE, STD_INDICATOR, INPUT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ht.extra.pojo.comm.PriceItemNameDictKey" >
    select 
    <include refid="Base_Column_List" />
    from COMM.PRICE_ITEM_NAME_DICT
    where ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ht.extra.pojo.comm.PriceItemNameDictKey" >
    delete from COMM.PRICE_ITEM_NAME_DICT
    where ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.PriceItemNameDict" >
    insert into COMM.PRICE_ITEM_NAME_DICT (ITEM_CLASS, ITEM_NAME, ITEM_CODE, 
      STD_INDICATOR, INPUT_CODE)
    values (#{itemClass,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{stdIndicator,jdbcType=DECIMAL}, #{inputCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.PriceItemNameDict" >
    insert into COMM.PRICE_ITEM_NAME_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemClass != null" >
        ITEM_CLASS,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="stdIndicator != null" >
        STD_INDICATOR,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemClass != null" >
        #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="stdIndicator != null" >
        #{stdIndicator,jdbcType=DECIMAL},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.PriceItemNameDict" >
    update COMM.PRICE_ITEM_NAME_DICT
    <set >
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="stdIndicator != null" >
        STD_INDICATOR = #{stdIndicator,jdbcType=DECIMAL},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.PriceItemNameDict" >
    update COMM.PRICE_ITEM_NAME_DICT
    set ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      STD_INDICATOR = #{stdIndicator,jdbcType=DECIMAL},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR}
    where ITEM_CLASS = #{itemClass,jdbcType=VARCHAR}
      and ITEM_NAME = #{itemName,jdbcType=VARCHAR}
  </update>
</mapper>