<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.RankDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.RankDict" >
    <id column="RANK_NAME" property="rankName" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="RANK_CODE" property="rankCode" jdbcType="VARCHAR" />
    <result column="INPUT_CODE" property="inputCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RANK_NAME, SERIAL_NO, RANK_CODE, INPUT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.RANK_DICT
    where RANK_NAME = #{rankName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.RANK_DICT
    where RANK_NAME = #{rankName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.RankDict" >
    insert into COMM.RANK_DICT (RANK_NAME, SERIAL_NO, RANK_CODE, 
      INPUT_CODE)
    values (#{rankName,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{rankCode,jdbcType=VARCHAR}, 
      #{inputCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.RankDict" >
    insert into COMM.RANK_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        RANK_NAME,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="rankCode != null" >
        RANK_CODE,
      </if>
      <if test="inputCode != null" >
        INPUT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="rankCode != null" >
        #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        #{inputCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.RankDict" >
    update COMM.RANK_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="rankCode != null" >
        RANK_CODE = #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null" >
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
    </set>
    where RANK_NAME = #{rankName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.RankDict" >
    update COMM.RANK_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      RANK_CODE = #{rankCode,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR}
    where RANK_NAME = #{rankName,jdbcType=VARCHAR}
  </update>
</mapper>