<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.TopUnitDictMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.TopUnitDict" >
    <id column="TOP_UNIT_CODE" property="topUnitCode" jdbcType="VARCHAR" />
    <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    <result column="TOP_UNIT_NAME" property="topUnitName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TOP_UNIT_CODE, SERIAL_NO, TOP_UNIT_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.TOP_UNIT_DICT
    where TOP_UNIT_CODE = #{topUnitCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.TOP_UNIT_DICT
    where TOP_UNIT_CODE = #{topUnitCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.TopUnitDict" >
    insert into COMM.TOP_UNIT_DICT (TOP_UNIT_CODE, SERIAL_NO, TOP_UNIT_NAME
      )
    values (#{topUnitCode,jdbcType=VARCHAR}, #{serialNo,jdbcType=DECIMAL}, #{topUnitName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.TopUnitDict" >
    insert into COMM.TOP_UNIT_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topUnitCode != null" >
        TOP_UNIT_CODE,
      </if>
      <if test="serialNo != null" >
        SERIAL_NO,
      </if>
      <if test="topUnitName != null" >
        TOP_UNIT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topUnitCode != null" >
        #{topUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="topUnitName != null" >
        #{topUnitName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.TopUnitDict" >
    update COMM.TOP_UNIT_DICT
    <set >
      <if test="serialNo != null" >
        SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      </if>
      <if test="topUnitName != null" >
        TOP_UNIT_NAME = #{topUnitName,jdbcType=VARCHAR},
      </if>
    </set>
    where TOP_UNIT_CODE = #{topUnitCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.TopUnitDict" >
    update COMM.TOP_UNIT_DICT
    set SERIAL_NO = #{serialNo,jdbcType=DECIMAL},
      TOP_UNIT_NAME = #{topUnitName,jdbcType=VARCHAR}
    where TOP_UNIT_CODE = #{topUnitCode,jdbcType=VARCHAR}
  </update>
</mapper>