<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.extra.dao.UsersTempMapper" >
  <resultMap id="BaseResultMap" type="com.ht.extra.pojo.comm.UsersTemp" >
    <id column="DB_USER" property="dbUser" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_DEPT" property="userDept" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    DB_USER, USER_ID, USER_NAME, USER_DEPT, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMM.USERS_TEMP
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMM.USERS_TEMP
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.extra.pojo.comm.UsersTemp" >
    insert into COMM.USERS_TEMP (DB_USER, USER_ID, USER_NAME, 
      USER_DEPT, CREATE_DATE)
    values (#{dbUser,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userDept,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.extra.pojo.comm.UsersTemp" >
    insert into COMM.USERS_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbUser != null" >
        DB_USER,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userDept != null" >
        USER_DEPT,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbUser != null" >
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null" >
        #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.extra.pojo.comm.UsersTemp" >
    update COMM.USERS_TEMP
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null" >
        USER_DEPT = #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.extra.pojo.comm.UsersTemp" >
    update COMM.USERS_TEMP
    set USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_DEPT = #{userDept,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE}
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </update>
</mapper>